<?xml version="1.0" encoding="UTF-8"?>
<plugin id="fkmit-fido-webview-plugin" version="1.0.0"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>Fido Integration Plugin</name>
    <description>Fido support for Android Webviews.</description>

    <engines>
        <engine name="cordova" version=">=12.0.0"/>
    </engines>

    <platform name="android" kotlin="1.9.24">

        <framework
            src="org.jetbrains.kotlin:kotlin-stdlib-jdk8:1.9.24"
            type="gradle" />

        <framework
            src="com.yubico.yubikit:fido:3.0.0"
            type="gradle" />

        <framework
            src="com.yubico.yubikit:android:3.0.0"
            type="gradle" />

        <framework
            src="androidx.webkit:webkit:1.15.0"
            type="gradle" />

        <framework
            src="androidx.credentials:credentials:1.6.0-rc01"
            type="gradle" />

        <framework
            src="androidx.credentials:credentials-play-services-auth:1.6.0-rc01"
            type="gradle" />

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.NFC" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-feature
                android:name="android.hardware.nfc"
                android:required="true" />
        </config-file>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FidoIntegration">
                <param name="android-package" value="com.fkmit.fido.FidoIntegration"/>
            </feature>
            <preference name="GradlePluginKotlinEnabled" value="true" />
            <preference name="GradlePluginKotlinVersion" value="1.9.24" />
            <preference name="GradlePluginKotlinCodeStyle" value="official" />
        </config-file>

        <source-file src="src/android/Fido.kt" target-dir="app/src/main/kotlin/com/fkmit/fido"/>
        <source-file src="src/android/FidoCredential.kt" target-dir="app/src/main/kotlin/com/fkmit/fido"/>
        <source-file src="src/android/FidoIntegration.kt" target-dir="app/src/main/kotlin/com/fkmit/fido"/>
        <source-file src="src/android/FidoWebview.kt" target-dir="app/src/main/kotlin/com/fkmit/fido"/>
        <source-file src="src/android/MessageCodes.kt" target-dir="app/src/main/kotlin/com/fkmit/fido"/>
        <source-file src="src/android/NFCDiscoveryDispatcher.kt" target-dir="app/src/main/kotlin/com/fkmit/fido"/>
        <source-file src="src/android/RequestHandlers.kt" target-dir="app/src/main/kotlin/com/fkmit/fido"/>
        <source-file src="src/android/ResultDispatcher.kt" target-dir="app/src/main/kotlin/com/fkmit/fido"/>
        <source-file src="src/android/Util.kt" target-dir="app/src/main/kotlin/com/fkmit/fido"/>

    </platform>

    <js-module src="www/FidoIntegration.js" name="FidoIntegration">
        <clobbers target="FidoIntegration"/>
    </js-module>

</plugin>
